{% extends 'base.html' %}


{%block title%}
Home
{%endblock title%}

{% block body%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>by - Suryansh Chaudhary</h2>
      <a href="/avilable" class="btn-get-started">Avialable Lectures</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="static/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Book Your Lecture Today</h3>
            <p class="fst-italic">
              Every lecture should state one main point and repeat it over and over, like a theme with variations. An audience is like a herd of cows, moving slowly in the direction they are being driven towards. If we make one point, we have a good chance that the audience will take the right direction; if we make several points, then the cows will scatter all over the field. The audience will lose interest and everyone will go back to the thoughts they interrupted in order to come to our lecture.” ~ Gian-Carlo Rota
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Industry leaders </li>
              <li><i class="bi bi-check-circle"></i> Top-Level Mentors</li>
              <li><i class="bi bi-check-circle"></i> Great ecosystem </li>
            </ul>
            <p>
              1:1 Mentoring Avialable
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  {%endblock body%}

 